  .countryCard-visited,.countryCard-wantToVisit,.countryCard{
    background-color: #333;
    width: 25em;
    height: 25em;
    margin: 1em;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    /* display:flex;
    flex-direction: column; */
    justify-content: center; 
    align-content: center; 
    display: grid;
    grid-template-rows: 3em 3em 15em 4em;
    grid-template-areas: "Name"
                        "Capital"
                        "flag"
                        "buttons";
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); */
}


.countryCard-visited {
    background-color: rgb(193, 225, 193);
   }
  


.countryCard-wantToVisit{
    background-color: pink;
}

.countryCard-visited:hover,.countryCard-wantToVisit:hover,.countryCard:hover{

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

}

  .country-list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }

  img{
      max-width: 80%;
      max-height: 50%;
  }

 